<div class="toolbar">
  <button (click)="layoutService.addItem()">Add Item</button>
  <div class="draggable" draggable="true" (dragend)="layoutService.dropItem('example1')">Example 1</div>
  <div class="draggable" draggable="true" (dragend)="layoutService.dropItem('example2')">Example 2</div>
</div>
<gridster [options]="options">
  <gridster-item class="mdc-card" *ngFor="let item of layout"
    [item]="item"
    (dragover)="layoutService.setDropId(item.id)"
  ><mat-mini-fab color="primary" (click)="layoutService.deleteItem(item)">Delete</mat-mini-fab>
    <ng-container appLayoutItem [componentRef]="layoutService.getComponentRef(item.id)"></ng-container>
    
  </gridster-item>
</gridster>
